:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
.litle {
    font-family: 'Roboto';
        color: var(--title-text-color)
}

/* Universal classes */

.link {
    text-decoration: none;
    
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
    font-family: 'Roboto';
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
/* header */

.header-logo {
font-family: "Raleway", sans-serif;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-blue{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.header-mail-link,
.header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* цвет h1 #FFFFFF */
/* цвет h2, h3 #212121 */
/* цвет параграфов #757575 */
/* цвет акцента #2196F3 */
/* background: #F5F5F5 */